MONGODB_URI="mongodb+srv://USER:PASSWORD@HOST/rlp_digital?retryWrites=true&w=majority"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-another-32-random-character-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"
PORT=3000
NODE_ENV="development"
API_BASE_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:8081"
